<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Challenge</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="page-header">
      Renew Financial Code Challenge 
      <small>- Duane M. Moody</small>
    </h1>
    <%= yield %>
  </div>
</body>
</html>